* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #79C9C5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    border: 2px solid black;
    border-radius: 20px;
    padding: 50px;
    background-color: #fff;
    font-size: 2rem;
    height: 60vh;
    margin-top: 20px;
    max-width: 80vh;
}

.img {
    position: relative;
    height: 5vh;
    margin: -4px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 20px 10px;
    background-color: #edeef0;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    background: #ff5945;
    font-size: 16px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50px;
    background-image: url("unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url("checked.png");
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}